<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div id="menu" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Locations</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li><a href="/locations/SF">San Francisco</a></li>
              <li><a href="/locations/CHI">Chicago</a></li>
              <li><a href="/locations/NYC">New York</a></li>
              <li><a href="/locations/SD">San Diego</a></li>
              <li><a href="/locations/SEA">Seattle</a></li>
              <li><a href="/locations/AUS">Austin</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
            <div id="content" class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Weather</h3>
              </div>
              <div id="weather" class="panel-body">
                <p>Pick a location</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>